// LOADING SPINNER
.loadingContainer{
  position:fixed;
  top:0px; left:0px;
  height:100vh; width:100vw;
  background-color:$black;
  z-index: 9998;
  // When hidden, fade out
  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    filter:blur(50px);
    transition: opacity 0.5s ease-out, visibility 1s ease-out;
  }


  .smokin{
    position:absolute;
    top:0; right:0; left:0; bottom:0;
    margin:auto;
    width: 100px; height: 60px;
    .cig{
      position:relative;
      display:flex;
      align-items: flex-start;
      width:100%; height:5px;
      .filter{
        position:relative;
        width:21px; height:5px;
        background-color:$orange;
      }
      .tobacco{
        position:relative;
        width:45px; height:5px;
        background-color:$white;
        animation: inhale 5s linear forwards;
      }
      .fire{
        position:relative;
        width:4px; height:5px;
        background-color:rgba(red, 0.8);
        animation: burn 2s linear infinite;
      }
    }
    
    p{
      text-align:left;
      color:$white;
      font: 500 18px/26px $urbanist;
      letter-spacing: -0.18px;  
      margin:5px 0px 0px 0px;
    }
  }
}

@keyframes burn {
  0% {background-color:rgba(red, 0.7);}
  20% {background-color:rgba(red, 0.2);}
  40% {background-color:rgba(red, 0.7);}
  50% {background-color:rgba(red, 0.5);}
  60% {background-color:rgba(red, 0.9);}
  70% {background-color:rgba(red, 0.2);}
  100% {background-color:rgba(red, 0.9);}
} 


@keyframes inhale {
  0% {width:45px;}
  100% {width:10px;}
} 

.no-scroll {
  overflow: hidden;
  height: 100vh;
}


