@use "@/styles/variables" as v;

.textMainContent{
  position:relative;
  padding:60px 0px;
  &--light {background-color: v.$white;}
  &--dark {background-color: v.$black;}
  .heading{
    text-wrap: balance;
    margin:0px 0px 60px 0px;
    &--black{color:v.$black;}
    &--white{color:v.$white;}
    &--yellow{color:v.$yellow;}
    &--blue{color:v.$blue;}
    &--pink{color:v.$pink;}
    &--teal{color:v.$teal;}
    &--red{color:v.$red;}
    &--gray{color:v.$gray;}
  }
  h6{
    text-wrap: balance;
    margin:0px 0px 60px 0px;
  }

  .cols{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    gap:200px;
    span{
      display:block;
      flex: 1;
      h3, p{
        margin:0px;
      }
    }
  }
}











