@use "@/styles/variables" as v;



//THEME COLORS
$form-callout-themes: (
  "yellow": v.$yellow,
  "red": v.$red,
  "blue": v.$blue,
  "gray": v.$gray,
  "pink": v.$pink,
  "teal": v.$teal
);

//Add to this as we create more styles for different form types
.form{
  border:1px solid v.$teal;
  border-radius:32px;
  padding:27px;
  width:400px;
  input, textarea{
    width:calc(100% - 32px);
    padding: 14px 16px 18px 16px;
    background-color:v.$white;
    border-radius:32px;
    outline:none;
    border:none;
    margin:10px 0px;
    font: 700 16px/16px v.$plak;
  }
  textarea{
    max-height:100px;
    resize: none;
  }
  ::placeholder {
    color: v.$black;
    font: 700 16px/16px v.$plak;
  }
  button{
    border:1px solid transparent;
    width:100%; height:50px;
    border-radius:32px;
    padding:0px 27px;
    margin:10px 0px 0px 0px;
    background-color:v.$teal;
    color: v.$black;
    font: 700 16px/18px v.$plak;
    text-transform:uppercase;
    cursor:pointer;
    @include v.trans(0.2s);
    &:hover{
      background-color:v.$pink;
      color: v.$white;
      @include v.trans(0.2s);
    }
  }

  //THEME COLORS SCSS
  @each $name, $color in $form-callout-themes {
    &--#{$name}{
      border: 1px solid $color;
      button { background-color: $color; }
    }
  }
}

