//////////////////////////////////////
// PRIMARY STYLES

//IMPORTS -----------------------
@use "./variables" as v;


body{
  position:relative;
  width:100%; height:100%;
  background-color:v.$white;
  color:v.$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  animation: bodyFade 0.5s forwards;
  margin:0px;
}
//hide the finger cursor
body, a, * {
  cursor: none;
}
// fade in effect on page load if that's your thing
 @keyframes bodyFade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }



//Text Selection -----------------------
::selection {
  background: v.$black;
  color:v.$white;
}
::-moz-selection {
  background: v.$black;
  color:v.$white;
}



//Base Structures -----------------------
main{
  overflow:hidden;
}

.container{
  position:relative;
  width:calc(100% - 50px);
  margin:0px auto;
}

hr{
  border-bottom:1px solid v.$black;
  margin:20px 0px;
}



// Base Text Styles -----------------------
a{
  text-decoration:none;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  
}

h2{
  
}

h3{
  
}

h4{
  
}

h5{
  
}

h6{
  
}

p{

}




