//////////////////////////////////////
// PRIMARY STYLES

//IMPORTS -----------------------
@use "./variables" as v;
@use "./fonts" as *;
@use "./forms" as *;


body{
  position:relative;
  width:100%; height:100%;
  background-color:v.$white;
  color:v.$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  animation: bodyFade 0.5s forwards;
  margin:0px;
}
//hide the cursor everywhere
body, button, a, input, textarea, select, [role="button"] {
  cursor: none !important;
}
//except the next.js portal cause that sucks in dev
nextjs-portal, nextjs-portal * {
  cursor: auto !important;
}
// fade in effect on page load if that's your thing
 @keyframes bodyFade {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }



//Text Selection -----------------------
::selection {
  background: v.$pink;
  color:v.$white;
}
::-moz-selection {
  background: v.$pink;
  color:v.$white;
}



//Base Structures -----------------------
main{
  overflow:hidden;
}

.container{
  position:relative;
  width:calc(100% - 180px);
  margin:0px auto;
}

hr{
  border-bottom:1px solid v.$black;
  margin:20px 0px;
}



// Base Text Styles -----------------------
a{
  text-decoration:none;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  text-transform: uppercase;
  font: 700 170px/155px v.$plak-comp; 
  margin:0px;
  vertical-align: middle;
  @include v.breakpoint(1024px) {
    font: 700 140px/125px v.$plak-comp; 
  }
  @include v.breakpoint(900px){  
    font: 700 60px/55px v.$plak-comp; 
  }
}

h2{
  font: 700 150px / 135px v.$plak-comp;
}

h3{
  font: 400 45px / 45px v.$kepler;
}

h4{
  
}

h5{
  
}

h6{
  font: 400 24px / 36px v.$plak;
}

p{
  font: 400 22px/36px v.$plak;
}
